/*body*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: "Changa", sans-serif;
cursor: cell;
}

/*nav bar*/

header{
background-color: #e6af2e;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
border-bottom: solid 5px black;
}

.logo{
text-decoration: none;
font-size: xx-large;
color: #fff8f0;
text-transform: uppercase;
font-weight: 999;
transition-duration: 1s;
}

.logo:hover{
color: #ffd800;
text-decoration: underline;
}

.nav-link a{
color: #fff8f0;
text-decoration: none;
font-size: larger;
font-weight: 500;
padding-left: 30px;
transition-duration: 1s;
}

.nav-link a:hover{
color: #ffd800;
text-decoration: underline;
}
    
/*the background*/

.background{
height: 100%;
min-height: 100vh;
justify-content: center;
align-items: center;
background: url(img/3333333.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
border-bottom: solid 5px black;
}

/*why-boycott*/

.why-boycott{
margin: 1%;
background-color: #e6af2e;
padding: 40px 10px;
border: solid 5px black;
border-radius: 20px 20px;
}

.title{
font-size: 70px;
padding: 2px 20px;
margin-bottom: 2%;
font-weight: 999;
align-content: center;
position: static;
color: #e6af2e;
background-color: #fff8f0;
border: solid 5px black;
border-radius: 20px 20px;
transition-duration: 1s;
}

.title:hover{
color: #ffd800;
text-decoration: underline;
}

.list{
padding: 5%;
margin: 1%;
border: solid 5px black;
background-color: white;
border-radius: 20px;
list-style: decimal;
font-size: 20px;
}

iframe{
margin: 5px;
border: solid 5px black;
border-radius: 20px;
align-items: center;
justify-content: center;
}

.img{
margin: 5px;
border: solid 5px black;
border-radius: 20px 20px;
}

/*supporter-boycott*/

.supporter-boycott{
padding: 40px 10px;
margin: 1%;
border: solid 5px black;
background-color: #e6af2e;
border-radius: 20px 20px;
}

/*supporter-boycott (cards)*/

.content{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}

.project-card{
height: 100%;
width: 100%;
background-color: black;
border-radius: 20px 20px;
border: solid 5px black;
color: white;
min-height: 14em;
width: 20em;
overflow: hidden;
margin: 5px;
transition: 0.7s ease;
}

.project-card:hover{
transform: scale(1.1);
}

.project-card:hover .project-image{
filter: blur(2px);
}

.project-image img{
height: 100%;
width: 100%;
}

.project-info{
padding: 1em;
}

.project-category{
font-size: 0.8em;
}

.project-title{
display: flex;
justify-content: space-between;
text-transform: uppercase;
margin-top: 10px;
}

.button-proveIt{
text-decoration: none;
color: #e6af2e;
transition-duration: 1s;
}

.button-proveIt:hover{
color: #ffd800;
text-decoration: underline;
}

/*more product*/

.more-product{
margin: 20px;
padding: 10px;
border-radius: 20px;
border: 5px solid black;
background-color: #fff8f0;
color: #e6af2e;
border: solid 5px black;
border-radius: 20px 20px;
font-weight: 999;
transition: all 0.2s ease-in-out 0ms;
user-select: none;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}
  
.more-product:hover{
background-color: black;
color: #ffd800;
}
  
.more-product:active{
transform: scale(0.5);
}

/*story*/

.story{
margin: 1%;
margin-top: 5%;
padding: 2%;
background-color: #e6af2e;
border-radius: 20px 20px;
border: solid 5px black;
}

/*footer*/
.footer{
border-top: solid 5px black;
background-color: #e6af2e;
color: black;
padding: 2em;
display: flex;
justify-content: space-between;
}
  
.footer-title{
font-size: 100%;
font-weight: 999;
text-decoration: none;
color: #fff8f0;
transition-duration: 1s;
}

.footer-title:hover{
color: #ffd800;
text-decoration: underline;
}

/*media*/

@media(max-width:1050px){

header{
font-size: 5%;
padding: 10px 60px;
}
        
.nav-link a{
display: block;
font-size: medium;
}
        
.logo{
font-size: x-large;
}
        
.title{
font-size: 35px;
}

svg{
height: 25px;
width: 25px;
}
        
iframe{
height: 200px;
width: 300px;
}
        
.img{
height: 150px;
width: 250px;
}
        
.title-background {
padding-top: 45%;
font-size: 109px;
font-weight:1999 ;
}
        
}


@media(max-width:450px){

body{
font-size: 9px;
}

.logo{
font-size: large;
}
            
.title{
font-size: 25px;
}

.img{
height: 90px;
width: 190px;
}

iframe{
height: 90px;
width: 190px;
}

svg{
height: 17px;
width: 17px;
}

.footer-title{
font-size: 90%;
}
      
}   
